@model IEnumerable<ASystems.DeskReservation.Web.Data.Entities.Reservation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        border-collapse: collapse;
        margin: auto;
        font-family: Arial, sans-serif;
        font-size: 14px;
        text-align: center;
        border: 2px solid #f2a154;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

        table th, table td {
            border: none;
            padding: 12px;
            background-color: #f2a154;
            color: #714B23;
            font-weight: normal;
        }

        table th {
            background-color: #f2a154;
            color: black;
            font-weight: bold;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        table tr:nth-child(even) {
            background-color: #f8dec6;
        }

        table tr:hover {
            background-color: #f6c5a5;
        }
</style>

<h1>All Reservations</h1>

<p>
    <a asp-action="Create" class="btn btn-s btn-primary">Create Reservation</a>
</p>
<table class="table">
    <thead class="border-1">
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.ReservedTime) *@ Reservation Time
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.StartDate) *@ Start Date
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.EndDate) *@ End Date
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Status) *@ Reservation Status
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.User.FirstName) @Html.DisplayNameFor(model => model.User.LastName) *@
                User
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Desk.Name) *@ Desk
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desk.Name)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-s btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-s btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-s btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
