@using ASystems.DeskReservation.Web.Data.Entities
@using Microsoft.AspNetCore.Identity
@model IEnumerable<ASystems.DeskReservation.Web.Data.Entities.Reservation>
@inject UserManager<User> _userManager;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Reservations</h1>

<p>
    <a asp-action="Create" class="btn btn-s btn-primary">Create Reservation</a>
</p>

<form asp-controller="Reservation" asp-action="Index">
    <p>
        <input type="text" name="SearchPhrase" placeholder="User or Desk Name" />
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <thead class="border-1">
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.ReservedTime) *@ Reservation Time
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.StartDate) *@ Start Date
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.EndDate) *@ End Date
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Status) *@ Reservation Status
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.User.FirstName) @Html.DisplayNameFor(model => model.User.LastName) *@
                User
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Desk.Name) *@ Desk
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desk.Name)
            </td>
            <td>
                    @if(User.IsInRole("Admin")){
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-s btn-primary">Edit</a>
                    }
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-s btn-info">Details</a>
                    @if (item.Status == ASystems.DeskReservation.Web.Data.Entities.ReservationStatus.Pending || User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-s btn-danger">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
